{% extends "master.html" %}
{% block title %}
    Call of Roll : {{cursus.name}}
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}

    <form method="post">
        {% csrf_token %}

        {{ form|crispy }}

         <div class="boutons row">
            <button class="btn btn-outline-primary mr-4"><a href="/lycee/">Cancel</a></button>
            <button type="submit" class="btn btn-success radius d-flex">Submit</button>
        </div>
    </form>
    <br>  <br>
{% endblock %}