/* a {
    color : #444444;
}

th {background-color: #deb860; font-family: Arial;
}
/*
td {background-color: #FFFF9D; font-family: Arial;
}
*/
/* html {
    position: relative;
    min-height: 100%;
}

.page-header{
    background-color: #FFFF9D; font-family: Arial;
    width: 100%;
}

#frm {
    bottom:0;
    height: 20px;
    
    //background-color : #eeeeff
    
}

#cb {
    margin-right:15px;
}

.formstd{
    background-color : #ff0000
} */